@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: radial-gradient(white, rgba(0, 0, 0, 0.2));
  background-color: #2196F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 434px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem 1rem 0 1rem;
  background-color: #2196f3;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

header h2 {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

header h3 {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: .25rem;
  -ms-grid-rows: (100px)[3];
  -ms-grid-columns: (minmax(100px, 100px))[4];
      grid-template: repeat(3, 100px)/repeat(4, minmax(100px, 100px));
  background-color: #2196f3;
  padding: .5rem;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grid .card {
  border-radius: 5px;
}

/* On screens that are 480px or less */
@media screen and (max-width: 480px) {
  .grid {
    -ms-grid-rows: (100px)[4];
    -ms-grid-columns: (minmax(100px, 100px))[3];
        grid-template: repeat(4, 100px)/repeat(3, minmax(100px, 100px));
  }
  header {
    width: 330px;
  }
}

#msg-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  width: 420px;
  height: 420px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#msg-wrapper h2 {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 3rem;
}

#msg-wrapper span {
  padding-top: .5rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

#msg-wrapper p {
  padding-top: 3rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}
